src/xnrpe
src/*.o
src/start.sh
test_server/*.o
test_server/sample_server
plugins/check_disk_io
plugins/check_mem
plugins/check_cpu
plugins/check_swap
plugins/check_version
plugins/check_proc
plugins/check_ifport
plugins/check_disk_sys
plugins/check_informix_basic

data.tmp

